/*---------------------------------------------------------------------------INDEX inicio*/
body{
    /* background-color: red; */
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color:black;
    display: flex;
    justify-content: center;
    padding: .5em 0;
    border-bottom: 1px solid whitesmoke;
}

.encabezado{
    width: 960px;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 .5em;
}

.logo{
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.logoimg{
    /* background-color: tomato; */
    width: 20%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.logoimg img{
    background-color: turquoise;
    width: 100%;
    border-top-left-radius: 140%;
    border-top-right-radius: 140%;
    margin: 2% 0;
}

.logo .bauten{
    display: inline-flex;
    flex-direction: column;
    /* background-color: tomato; */
    width: 78%;
    color: whitesmoke;
}

.logo h1{
    font-weight: 600;
    font-size: 1.5em;
    margin: 7% 0 0 0;
}

.logo .ebike{
    /* background-color: violet; */
    font-size: .9em;
    margin-left: .5%;
}

.botonera{
    /* background-color:orange; */
    width: 60%;
    padding: .5em 0;
}

nav ul{
    /* background-color: red*/
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    /* background-color: greenyellow; */
    display: flex;
    width: 20%;
    border-radius: 15px;
}

nav ul li a{
    color: whitesmoke;
    width: 100%;
    padding: 0.4em;
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

nav ul li a:hover{
    background-color: green;
    border-radius: 15px;
    opacity: .5;
}

nav ul li a.activo{
    background-color: green;
    border-radius: 15px;
}

.up{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    clear: both;
    padding: 1em 0;
}

.up a, .up p{
    margin: 0;
    opacity: .3;
    transition: all 1s ease;
}

.up a:hover{
    opacity: 1;
    cursor: pointer;
}


footer{
    overflow: hidden;
    background-color: rgba(211, 211, 211, 0.474);
    color: rgba(0,0,0,0.4);
    clear: both;
    padding: 0.2em;
    text-align: center;
}

.holder{
    max-width: 960px;    /*RESPONSIVE: Agregue max-*/
    margin: 0 auto;
    padding: 0 .5em;
    /* background-color: yellow; */
}

h2{
    font-size: 2em;
}

.left{
    float: left;
}

.right{
    float: right;
}
/*---------------------------------------------------------------------------INDEX fin*/
/*---------------------------------------------------------------------------HOME inicio*/
.home{
    overflow: hidden;
}

#homeintro{
    text-align: center;
    margin: 0 auto;
    max-height: 800px;
    width: 100%;
}

#homeintro h2{
    padding: .5em 0;
    margin-top: 1em;
    background-color: white;
    color: black;
    font-weight: 900;
    font-size: 3em;
}
.cabezal h3{
    padding-top: 1em;
    font-style: italic;
    font-weight: 100;
    align-items: center;
}

.cabezal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    padding: 0 0 .5em 0;
    max-width: 100%;    /*RESPONSIVE: Agregue max-*/
    border-radius: 5px;
    animation: bienvenidos 2s ease;
    animation-fill-mode: forwards; 
}

@keyframes bienvenidos{
    from{background-color: white;}
    to{background-color: green;} 
}

.mov{
    background-color: none;
    border-top-style: dotted;
    border-bottom-style: dotted;
    margin-top: .5em;
}

.icon-bike{
    margin: .3em;
    animation-name: riding;
    animation-duration:  2s;
}

@keyframes riding{
    from{margin-left: 100%;
        width: 100%;}
    to{margin-left: 0;
       width: 100%;}
}

.iconos{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
    text-decoration: none;
}

.icono{
    margin: 0 2em;
    text-decoration: none;
    transition: all 0.5s ease;
}

.icono p{
    color: whitesmoke;
    opacity: 0;
    margin: 0;
    font-size: .8em;
    transition: all 0.5s ease;
}

.icono:hover{
    font-size: 1.1em;
}

.icono:hover p{
    opacity: 1;
}

.texto{
    color: #ddd;
    padding: 30px;
    text-align: center;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 100%;     /*RESPONSIVE: Agregue todo*/
}

#parallax02{
    background: url(../img/detalle3.jpg) 60% fixed;
    background-size: 67%;
    height: 700px;
    max-width: 90%;    /*RESPONSIVE: Agregue max-*/
    margin: 0 auto;
}

#parallax03{
    background: url(../img/paisaje1.jpg) 67% fixed;
    background-size: 70%;
    height: 700px;
    max-width: 90%;    /*RESPONSIVE: Agregue max-*/
    margin: 0 auto;
}

#parallax04{
    background: url(../img/mural2.jpg) 60% fixed;
    background-size: 67%;
    height: 700px;
    max-width: 90%;    /*RESPONSIVE: Agregue max-*/
    margin: 0 auto;
}
/*---------------------------------------------------------------------------HOME fin*/
/*---------------------------------------------------------------------------NOSOTROS inicio*/
.nosotros{
    display: flex;
    flex-direction: column;
}

.staff{
    font-weight: 500;
    padding: 1em;
}

.staff h3, .staff h4{
    text-align: center;
}

.staff h4{
    font-style: italic;
}

.nosotros h2{
    border-bottom: 1px solid black;
}

.personas{
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.descripcion, .persona{
    width: 50%;
    box-sizing: border-box;
}

.descripcion{
    margin: 0 1em;
    text-align: end;
}

.persona figure{
    text-align: center;
    /* background-color: yellow; */
}

.persona figure img{
    border-radius: 25%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); 
    width: 75%;
}
/*---------------------------------------------------------------------------NOSOTROS fin*/
/*---------------------------------------------------------------------------EXPERIENCIA inicio*/
.experiencia{
    overflow: hidden;
}

.experiencia h3{
    font-weight: 500;
    margin-left: 2em;
}

.bikeys{
    font-style: italic;
    font-family: fantasy;
    color: green;
    font-size: 3em;
    margin-left: 30%;
    animation-name: bike;
    animation-duration: 2s;
}

@keyframes bike{
    from{margin-left: 100%;
        width: 100%;}
    to{margin-left: 30%;
        width: 100%;}
}

.video{
     width: 50%;
}

.videobike, .videobikea{
    overflow: hidden;
    width: 90%;
    border-radius: 5%;
    border: solid black .02em;
    margin: 1em 0 1em 2em;
}

.videobikea{
    width: 85%;
    display: flex;
    align-items: center;
}
/*---------------------------------------------------------------------------EXPERIENCIA fin*/
/*---------------------------------------------------------------------------GALERIA inicio*/
.galeria{
    color: whitesmoke;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em 1em 1em;
}

.galeria h3{
    font-style: italic;
    margin: 1.5em 0 .02em 0;
}

.galeria .bloque01{
    overflow: hidden;
    width: 90%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.galeria .bloque02,
.galeria .bloque03{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.bloque02 .foto,
.bloque03 .foto{
    overflow: hidden;
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: .5em 0 0 .5em;
    border: 1px solid black;
    border-radius: 5px;
}

.bloque02,
.bloque03{
    width: 29%;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.galeria .foto img{
    width: 100%;
}
/*---------------------------------------------------------------------------GALERIA fin*/
/*---------------------------------------------------------------------------CATALOGO inicio*/
.especificaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.especificaciones h2{
    margin: .6em 0;
    font-size: 1.7em;
}

.especificaciones h3{
    text-align: start;
    color: green;
    font-size: 1.6em;
    margin-left: 3em;
}

.modelo01, .modelo02{
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
}

.modelo01{
    animation-name: izquierda;
    animation-duration: 1s;
}

@keyframes izquierda{
    from{margin-left: 100%;
        width: 100%;}
    to{margin-left: 0;
        width: 100%;}
}

.modelo02{
    animation-name: derecha;
    animation-duration:  1s;
}

@keyframes derecha{
    from{margin-left: -100%;
        width: 100%;}
    to{ margin-left: 0;
        width: 100%;}
}

.modtexto .modimg{
    width: 50%;
}

.modtexto{
    text-align: start;
}

.modimg img{
    border-radius: 5%;
    width: 95%;
}

.cambios{
    font-weight: bold;
    background-color: palegoldenrod;
}

.especificaciones .detalle{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
    padding: 1em 0;
    background-color:black;
    border-radius: 5px;
}

.detalle .foto{
    overflow: hidden;
    width: 70%;
    display: flex;
    margin: .5em 0 0 .5em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5) ;
}

.detalle .foto img{
    width: 100%;
    margin: 0 auto;
}

.tecnicas ul li{
    list-style: none;
}

.tecnicas .icotec{
    text-decoration: none;
}

.tecnicas .eco{
    color: green;
    font-weight: bold;
    font-style: italic;
}
/*---------------------------------------------------------------------------CATALOGO fin*/
/*---------------------------------------------------------------------------CONTACTO inicio*/
.contactanos{
    overflow: hidden;
    animation: medios 2s ease;
    animation-fill-mode: forwards; /*se queda como finaliza la animacion*/
}

@keyframes medios{
    from{opacity: 0;}
    to{opacity: 1;}
}

.contactanos h2,
.contactanos h3,
.pagos{
    text-align: center;
}

.contactanos h2{
    color: green;
    font-weight: 500;
}

.pagos{
    font-weight: bold;
    color: yellow;
    text-shadow: 1px 1px 5px black;
    font-size: 1.5em;
    animation: medios 3s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes pago{
    from{opacity: 0;}
    to{opacity: 1;}
}

.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 0.6em;
}

.columna.left{
    border-right: 1px solid black;
}

.formulario label{
    /* background-color: blue; */
    vertical-align: top;
    width: 15%;
    display: inline-block;
    font-size: 1em;
}

.formulario input, .formulario textarea{
    background-color: rgba(12, 243, 70, 0.097);
    border-radius: 5px;
    border: 1px solid#999;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    font-style: italic;
    width: 70%;
}

.formulario textarea{
    height: 10em;
    resize: none;
}

.formulario input[type="submit"]{
    background-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: whitesmoke;
    font-size: 1em;
    font-style: normal;
    width: auto;
    margin-right: 3.5em;
    float: right;
    cursor: pointer;
}

.columna.right h3{
    margin-bottom: 0;
}

.columna.right .directo{
    display: flex;
    justify-content: center;
}

.columna.right .directo ul{
    padding: 0;
    margin: 0;
}

.columna.right ul li{
    font-size: 1em;
    list-style: none;
    margin: 1em 0;
}

.columna.right .redes h3{
    margin: 2em 0 0 0;
}

.columna.right .sociales{
    background-color: rgba(12, 243, 70, 0.097);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    margin: 1em;
}

.columna.right .sociales ul li{
    display: inline-flex;
    flex-flow: row nowrap;
    margin-left: 1em;
}
 
.columna.right .sociales a{
    display: flex;
    text-align: center;
    text-decoration: none;
}
/*---------------------------------------------------------------------------CONTACTO fin*/
/*---------------------------------------------------------------------------ICONOS GENERAL inicio*/
@font-face {
    font-family: 'icomoon';
    src:  url('../favicon/fonts/icomoon.eot?hp79ja');
    src:  url('../favicon/fonts/icomoon.eot?hp79ja#iefix') format('embedded-opentype'),
      url('../favicon/fonts/icomoon.ttf?hp79ja') format('truetype'),
      url('../favicon/fonts/icomoon.woff?hp79ja') format('woff'),
      url('../favicon/fonts/icomoon.svg?hp79ja#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: inline-block;
}

.icon-bike:before,
.icon-power:before,
.icon-recycle:before,
.icon-coin-dollar:before,
.icon-chevron-up:before,
.icon-documents:before,
.icon-mobile:before,
.icon-whatsapp:before,
.icon-gmail:before,
.icon-instagram:before,
.icon-facebook:before{
    font-family: 'icomoon';
    margin-right: 10px;
    display: inline-block;
}

.icon-bike:before {
    content: "\e042";
    font-weight: 900;
}

.icon-power:before {
    content: "\e9b7";
    color: whitesmoke;
    font-size: 2.2em;
}

.icon-recycle:before {
    content: "\e907";
    color: whitesmoke;
    font-size: 2em;
}

.icon-coin-dollar:before {
    content: "\e93b";
    color: whitesmoke;
    font-size: 2em;
}

.icon-chevron-up:before {
    content: "\e90b";
    color: lightgray;
    text-shadow: 1px 1px 1px black;
    font-size: 3em;
    margin-right: 0;
}

.icon-documents:before {
    content: "\e006";
    margin-right: 1em;
    font-weight: 600;
    font-size: 2em;
    color: black;
}

.icon-mobile:before {
    content: "\e958";
    color: green;
}

.icon-whatsapp:before {
    content: "\e904";
    color: #25d366;
}

.icon-gmail:before {
    content: "\e903";
    color: #d14836;
}

.icon-instagram:before {
    content: "\e905";
    color: #e4405f;
    font-size: 2em;
}

.icon-facebook:before {
    content: "\e902";
    color: #1877f2;
    font-size: 2em;
}
/*---------------------------------------------------------------------------ICONOS GENERAL fin*/
/*---------------------------------------------------------------------------RESPONSIVE inicio*/
/*--------------------------------------------------------------------------------768px inicio*/
@media screen and (max-width:768px){
    .holder{
        max-width: 768px;
    }

    .holder h2{
        font-size: 1.5em;
    }

    .logoimg img{
        margin-top: 16%;
    }
    
    .logo h1{
        font-size: 1.2em;
    }
    
    nav ul{
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li{
        width: 15%;
    }

    nav ul li a{
        width: 90%;
    }

    .descripcion{
        width: 60%;
    }

    .persona{
        width: 40%;
        padding: 0;
        margin: 0;
    }

    .persona figure img{
        width: 100%;
    }

    .staff h3,
    .staff h4{
        margin: .05em 0;
    }

    .especificaciones{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .especificaciones h2,
    .especificaciones h3{
        text-align: center;
        margin: .5em 0;
    }

    .modelo01{
        display: flex;
        flex-flow: column nowrap;
    }

    .modelo02{
        display: flex;
        flex-flow: column-reverse nowrap;
    }

    .modtexto{
        width: 100%;
    }

    .modtexto li{
        font-size: .9em;
    }

    .modimg img{
        border-radius: 5%;
        width: 60%;
        margin-bottom: .5em;
    }

    .especificaciones .detalle{
        width: 80%;
    }
    
    .detalle .foto{
        width: 70%;
    }

    .columna{
        width: 100%;
    }

    .columna.left{
        border: none;
        padding: 0 6em;
    }

    .columna.right{
        border-top: 1px solid black;
    }

    .formulario input[type="submit"]{
    margin: 0;
    float: none;
    }

    .formulario .acciones{
        text-align: center;
    }
}
/*--------------------------------------------------------------------------------768px fin*/
/*--------------------------------------------------------------------------------480px inicio*/
@media screen and (max-width: 480px){
    .holder{
        max-width: 480px;
    }

    .holder h2{
        font-size: 1.3em;
    }

    .holder h3{
        font-size: 1em;
    }

    .holder h4{
        font-size: .9em;
    }

    .holder p{
        font-size: .8em;
    }
    header{
        padding: 0;
    }
    .encabezado{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logo{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 1%;
    }

    .logoimg{
        width: 47%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    .logoimg img{
        width: 25%;
        margin: 0 .5em 0 0;
    }

    .logo .bauten{
        width: 53%;
    }
    
    .bauten h1{
        margin-top: 5%;
    }
        
    .botonera{
        width: 100%;
        padding: .3em;
        border-top: 1px solid whitesmoke;
    }

    nav ul{
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li{
        width: 12.5%;
        border-radius: 5px;
        padding: 1px;
    }

    nav ul li a{
        font-size: .7em;
        line-height: 9px;
    }

    nav ul li a:hover{
        border-radius: 5px;
    }

    nav ul li a.activo{
        border-radius: 5px;
    }

    footer p{
        font-size: .7em;
        
    }
    #homeintro h2{
        padding: 0 .5em;
        font-size: 2em;
    }

    .cabezal{
        padding-bottom: .6em;
    }

    .iconos .icono{
        font-size: .7em;
    }

    .texto{
        padding: 15px;
        border-radius: 5px;
    }

    #homeintro img{
        width: 90%;
        height: auto;
    }

    #parallax02{
        background: url(../img/detalle3.jpg) 0 50% fixed;
        background-size: 150%;
        height: 0 auto;
    }

    #parallax03{
        background: url(../img/painegrahojas.jpeg) 0 50% fixed;
        background-size: 150%;
        height: 0 auto;
    }

    #parallax04{
        background: url(../img/mural1.jpg) 0 50% fixed;
        background-size: 130%;
        height: 0 auto;
    }

    .nosotros p{
        text-align: start;
    }

    .personas{
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .descripcion, .persona{
        width: 100%;
    }

    .experiencia{
        padding: 0 .5em; 
    }

    .video.right{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .videobike, .videobikea{
        margin-left: 1em;
        margin: .5em;
        padding: 0;
    }

    p.bikeys{
        font-size: 1.2em;
    }

    .holdergal{
        padding: 0;
    }

    .galeria h3{
        margin: 1em 0 .02em 0;
    }
    
    .bloque02 .foto,
    .bloque03 .foto{
        width: 75%;
        /* margin: .5em 0 0 .5em; */
    }
    
    .bloque02,
    .bloque03{
        width: 70%;
    }
    
    .especificaciones .detalle{
        width: 100%;
    }

    .modtexto li{
        font-size: .8em;
    }

    .contactanos h2, .pagos{
        padding: 0 .2em;
    }

    .columna.left{
        padding: 0 0 0 4em;
    }

    .columna.left h3{
        text-align: center;
        margin-right: 3.5em;
    }

    .formulario label{
        display: block;
    }

    .formulario label{
        /* background-color: blue; */
        vertical-align: top;
        width: 15%;
        display: inline-block;
        font-size: 1em;
    }
    
    .formulario input, .formulario textarea{
        display: block;
        width: 80%;
        justify-items: center;
    }
    
    .formulario .acciones{
        float: right;
        margin-right: 14.5em;
    }
}
/*--------------------------------------------------------------------------------480px fin*/ 
/*---------------------------------------------------------------------------RESPONSIVE fin*/